In [1]:
print("bismillah")
print(9*2+5)

bismillah
23

In [2]:
print ("heyyy")

heyyy

In [11]:
print(age)
name = 'shahbaz'
age =  28

NameError: name 'age' is not defined

In [13]:
###hellow
nhbcjhbajsbhc

NameError: name 'nhbcjhbajsbhc' is not defined

In [18]:
age=32
if age != 30:
        print(age)
print(age)

32
32

In [19]:
##Multiple Statment an a single line 
x=5;y=10;z=x+y
print(z)

15

In [ ]:
##Semantic in Python
age=32
name="shahbaz"

In [20]:
type(age)

int

In [21]:
type(name)

str

In [25]:
## type inference
variable=10
print(type(variable))
variable="shahbaz"
print(type(variable))

<class 'int'>
<class 'str'>

In [32]:
##Type Conversion
age=25
str(25)
## If age is in string and content letter not an base 10 numbe rit will not convert 
age="shahbaz"
# int(age)
## if float is is covert it to int 
number = 3
int(number)
## if flaot is covert it to string 
# str(number)
# '3.14'
# int convertit to float
day=3.2
int(number)
float(number)

3.0

In [34]:
age=str(input("what is ypur age"))
print(age,type(age))

28 <class 'str'>

In [ ]:
num=int(input("please enter your 1 num"))
num2=int(input("pleaseenter your num 2 "))

plus = num+num2
print(plus)