In [6]:
import pandas as pd 
df = pd.read_csv('c:\\Users\\l\\OneDrive\\Documents\\GenAIPython\\Pandas\\movie_scores.csv')
# df.isnull()
# df[(df['Director'].isnull())& (df['Genre'].notnull())]
df.dropna()
df
# df.dropna(thresh=3)
df.dropna(axis=0)
# df.dropna(subset=)

Empty DataFrame
Columns: [MovieName, Genre, ReleaseYear, IMDBScore, BoxOffice, Director  ]
Index: []

In [7]:
df

,MovieName,Genre,ReleaseYear,IMDBScore,BoxOffice,Director
0,The Dark Knight,5465,2008.0,9.0,Christopher Nolan,NaN
1,Interstellar,Sci-Fi,2014.0,NaN,731000000,Bong Joon-ho
2,Parasite,Drama,NaN,8.5,NaN,Bong Joon-ho
3,Pulp Fiction,Crime,1994.0,NaN,213000000,Quentin Tarantino

In [3]:
df.fillna('NEW VALUE')
# df['IMDBScore']=df['IMDBScore'].fillna(00)
df['IMDBScore'].fillna(df['IMDBScore'].mean())
# df.fillna(df.mean())

0    8.0
1    9.0
2    8.5
3    8.5
4    8.5
Name: IMDBScore, dtype: float64

In [4]:
import numpy as np
airline_tix={'first':100,'buisness':np.nan,"economy-plus":50,'economy':30}
ser = pd.Series(airline_tix)
ser.interpolate()

first           100.0
buisness         75.0
economy-plus     50.0
economy          30.0
dtype: float64