In [24]:
import numpy as np
import pandas as pd
df = pd.read_csv('c:\\Users\\l\\OneDrive\\Documents\\GenAIPython\\Pandas\\mpg.csv')
# df['ModelYear'].value_counts()
df.groupby('ModelYear')["MPG"].mean()

df.groupby(['ModelYear','Cylinders']).mean(numeric_only=True)
# df.groupby('ModelYear').describe().transpose()
# df.groupby(['ModelYear','Cylinders']).mean(numeric_only=True)
year_cl=df.groupby(['ModelYear','Cylinders']).mean(numeric_only=True)
# year_cl.loc[70,4]
year_cl.xs(key=8,level='Cylinders')


df[df['Cylinders'].isin([4])].groupby(['ModelYear','Horsepower']).mean(numeric_only=True)

# year_cl
# df

                       MPG  Cylinders  Displacement  Weight  Acceleration
ModelYear Horsepower
70        95          24.0        4.0         113.0  2372.0          15.0
71        60          27.0        4.0          97.0  2130.0          14.5
          70          30.0        4.0          79.0  2124.0          12.5
          71          33.0        4.0          97.0  2158.0          12.0
72        87          20.0        4.0         120.0  2979.0          19.5
          97          24.0        4.0         120.0  2330.0          12.5
          110         21.0        4.0         121.0  2628.0          13.6

In [4]:
year_cl.sort_index(level='ModelYear',ascending=True)

                           MPG  Displacement  Horsepower       Weight  \
ModelYear Cylinders
70        4          24.000000    113.000000        95.0  2372.000000
          8          16.800000    316.200000       147.0  3503.000000
71        4          30.000000     91.000000        67.0  2137.333333
72        4          21.666667    120.333333        98.0  2645.666667

                     Acceleration
ModelYear Cylinders
70        4                  15.0
          8                  11.4
71        4                  13.0
72        4                  15.2

In [20]:
# df.agg(['std','mean'])['Acceleration']
 
df.agg({"MPG":["max","mean"],"Weight":["mean","std",'max']})

            MPG       Weight
max   33.000000  3693.000000
mean  21.916667  2853.000000
std         NaN   623.005326