In [1]:
import pandas as pd

# Create a sample product dataset
products_data = {
    'Product ID': [101, 102, 103, 104, 105],
    'Product Name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories'],
    'Price': [999.99, 29.99, 79.99, 299.99, 149.99],
    'Quantity': [15, 50, 35, 20, 45],
    'Stock Status': ['In Stock', 'In Stock', 'Low Stock', 'In Stock', 'In Stock']
}

# Create DataFrame
df = pd.DataFrame(products_data)

# Write to Excel file
df.to_excel('products.xlsx', index=False, sheet_name='Products')

print("Excel file 'products.xlsx' created successfully!")
df

Excel file 'products.xlsx' created successfully!

   Product ID Product Name     Category   Price  Quantity Stock Status
0         101       Laptop  Electronics  999.99        15     In Stock
1         102        Mouse  Accessories   29.99        50     In Stock
2         103     Keyboard  Accessories   79.99        35    Low Stock
3         104      Monitor  Electronics  299.99        20     In Stock
4         105   Headphones  Accessories  149.99        45     In Stock

In [6]:
wf=pd.read_excel('products.xlsx',sheet_name='Products')
wf

   Product ID Product Name     Category   Price  Quantity Stock Status
0         101       Laptop  Electronics  999.99        15     In Stock
1         102        Mouse  Accessories   29.99        50     In Stock
2         103     Keyboard  Accessories   79.99        35    Low Stock
3         104      Monitor  Electronics  299.99        20     In Stock
4         105   Headphones  Accessories  149.99        45     In Stock

In [8]:
wf

   Product ID Product Name     Category   Price  Quantity Stock Status
0         101       Laptop  Electronics  999.99        15     In Stock
1         102        Mouse  Accessories   29.99        50     In Stock
2         103     Keyboard  Accessories   79.99        35    Low Stock
3         104      Monitor  Electronics  299.99        20     In Stock
4         105   Headphones  Accessories  149.99        45     In Stock

In [4]:
type(wf)

dict

In [5]:
wf.keys()

dict_keys(['Products'])