In [2]:
import pandas as pd
hotels=pd.read_csv('hotel_booking_data.csv')
hotels.head()

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,RoomType,NumGuests,NightCount,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate
0,B1001,John Smith,Grand Plaza Hotel,2025-01-20,2025-01-25,Deluxe,2,5,150,750,New York,USA,Completed,4.5,NaN
1,B1002,Maria Garcia,Ocean View Resort,2025-02-01,2025-02-08,Suite,3,7,200,1400,Miami,USA,Confirmed,NaN,NaN
2,B1003,Ahmed Hassan,Taj Hotel,2025-01-15,2025-01-18,Standard,1,3,80,240,Delhi,India,Completed,4.0,NaN
3,B1004,Emma Wilson,Eiffel Tower Inn,2025-02-10,2025-02-15,Deluxe,2,5,180,900,Paris,France,Confirmed,NaN,2025-01-25
4,B1005,Carlos Rodriguez,Cancun Paradise,2025-01-25,2025-02-02,Suite,4,8,220,1760,Cancun,Mexico,Completed,4.8,NaN

In [3]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BookingID         20 non-null     object
 1   CustomerName      20 non-null     object
 2   HotelName         20 non-null     object
 3   CheckInDate       20 non-null     object
 4   CheckOutDate      20 non-null     object
 5   RoomType          20 non-null     object
 6   NumGuests         20 non-null     int64
 7   NightCount        20 non-null     int64
 8   PricePerNight     20 non-null     int64
 9   TotalPrice        20 non-null     int64
 10  City              20 non-null     object
 11  Country           20 non-null     object
 12  Status            20 non-null     object
 13  Rating            8 non-null      float64
 14  CancellationDate  2 non-null      object
dtypes: float64(1), int64(4), object(10)
memory usage: 2.5+ KB

is there any missing data

In [4]:
hotels.isnull().sum()

BookingID            0
CustomerName         0
HotelName            0
CheckInDate          0
CheckOutDate         0
RoomType             0
NumGuests            0
NightCount           0
PricePerNight        0
TotalPrice           0
City                 0
Country              0
Status               0
Rating              12
CancellationDate    18
dtype: int64

In [ ]:
# drop the NightCount column from the table 
# hotels.drop('NightCount',axis=1)

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,RoomType,NumGuests,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate
0,B1001,John Smith,Grand Plaza Hotel,2025-01-20,2025-01-25,Deluxe,2,150,750,New York,USA,Completed,4.5,NaN
1,B1002,Maria Garcia,Ocean View Resort,2025-02-01,2025-02-08,Suite,3,200,1400,Miami,USA,Confirmed,NaN,NaN
2,B1003,Ahmed Hassan,Taj Hotel,2025-01-15,2025-01-18,Standard,1,80,240,Delhi,India,Completed,4.0,NaN
3,B1004,Emma Wilson,Eiffel Tower Inn,2025-02-10,2025-02-15,Deluxe,2,180,900,Paris,France,Confirmed,NaN,2025-01-25
4,B1005,Carlos Rodriguez,Cancun Paradise,2025-01-25,2025-02-02,Suite,4,220,1760,Cancun,Mexico,Completed,4.8,NaN
5,B1006,Sophie Martin,Swiss Alps Lodge,2025-02-05,2025-02-12,Standard,2,120,840,Zurich,Switzerland,Confirmed,NaN,NaN
6,B1007,James Brown,Tokyo Metropolitan,2025-01-28,2025-02-05,Deluxe,1,160,1280,Tokyo,Japan,Completed,4.2,NaN
7,B1008,Lisa Chen,Bali Beach Resort,2025-02-15,2025-02-22,Suite,3,190,1330,Bali,Indonesia,Confirmed,NaN,NaN
8,B1009,Marco Rossi,Rome Historic Hotel,2025-02-20,2025-02-25,Standard,2,100,500,Rome,Italy,Pending,NaN,NaN
9,B1010,Anna Kowalski,Warsaw Palace Hotel,2025-03-01,2025-03-08,Deluxe,2,140,980,Warsaw,Poland,Confirmed,NaN,NaN
10,B1011,David Thompson,Sydney Harbor View,2025-01-30,2025-02-06,Suite,2,210,1470,Sydney,Australia,Completed,4.7,NaN
11,B1012,Michelle Lee,Bangkok Thai Resort,2025-02-08,2025-02-15,Standard,1,95,665,Bangkok,Thailand,Completed,4.1,NaN
12,B1013,Roberto Silva,Rio Beach Hotel,2025-02-25,2025-03-05,Deluxe,3,170,1360,Rio de Janeiro,Brazil,Confirmed,NaN,2025-02-10
13,B1014,Yuki Tanaka,Venice Grand Canal,2025-03-10,2025-03-17,Suite,2,250,1750,Venice,Italy,Confirmed,NaN,NaN
14,B1015,Helena Schmidt,Berlin Modern Hotel,2025-02-12,2025-02-19,Standard,1,110,770,Berlin,Germany,Completed,3.9,NaN
15,B1016,Pierre Dubois,Monaco Luxury Resort,2025-03-05,2025-03-12,Suite,2,300,2100,Monaco,France,Confirmed,NaN,NaN
16,B1017,Priya Sharma,Mumbai Gateway Hotel,2025-01-22,2025-01-26,Standard,2,85,340,Mumbai,India,Completed,4.3,NaN
17,B1018,Michael O'Brien,Dublin Temple Hotel,2025-03-15,2025-03-22,Deluxe,1,155,1085,Dublin,Ireland,Confirmed,NaN,NaN
18,B1019,Lucia Moretti,Florence Renaissance,2025-02-28,2025-03-07,Standard,2,130,910,Florence,Italy,Pending,NaN,NaN
19,B1020,Antonio Gomez,Barcelona Beachfront,2025-03-20,2025-03-27,Suite,3,195,1365,Barcelona,Spain,Confirmed,NaN,NaN

In [8]:
# what are the top 5 most common code
hotels['RoomType'].value_counts()[:5]
hotels.groupby('RoomType').count()

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,NumGuests,NightCount,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate
RoomType,,,,,,,,,,,,,,
Deluxe,6,6,6,6,6,6,6,6,6,6,6,6,2,2
Standard,7,7,7,7,7,7,7,7,7,7,7,7,4,0
Suite,7,7,7,7,7,7,7,7,7,7,7,7,2,0

In [19]:
# what is the cutomer name who pays hieght TotalPrice	
# hotels.sort_values('TotalPrice')[['TotalPrice','CustomerName']]
hotels['TotalPrice'].max()
hotels.iloc[hotels['TotalPrice'].idxmax()]

BookingID                          B1016
CustomerName               Pierre Dubois
HotelName           Monaco Luxury Resort
CheckInDate                   2025-03-05
CheckOutDate                  2025-03-12
RoomType                           Suite
NumGuests                              2
NightCount                             7
PricePerNight                        300
TotalPrice                          2100
City                              Monaco
Country                           France
Status                         Confirmed
Rating                               NaN
CancellationDate                     NaN
Name: 15, dtype: object

In [23]:
# The Price of avrage daily rate for a person stay at the hotel what is the mean of the total price across the hotel statys in dataset
hotels['TotalPrice'].mean()
hotels

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,RoomType,NumGuests,NightCount,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate
0,B1001,John Smith,Grand Plaza Hotel,2025-01-20,2025-01-25,Deluxe,2,5,150,750,New York,USA,Completed,4.5,NaN
1,B1002,Maria Garcia,Ocean View Resort,2025-02-01,2025-02-08,Suite,3,7,200,1400,Miami,USA,Confirmed,NaN,NaN
2,B1003,Ahmed Hassan,Taj Hotel,2025-01-15,2025-01-18,Standard,1,3,80,240,Delhi,India,Completed,4.0,NaN
3,B1004,Emma Wilson,Eiffel Tower Inn,2025-02-10,2025-02-15,Deluxe,2,5,180,900,Paris,France,Confirmed,NaN,2025-01-25
4,B1005,Carlos Rodriguez,Cancun Paradise,2025-01-25,2025-02-02,Suite,4,8,220,1760,Cancun,Mexico,Completed,4.8,NaN
5,B1006,Sophie Martin,Swiss Alps Lodge,2025-02-05,2025-02-12,Standard,2,7,120,840,Zurich,Switzerland,Confirmed,NaN,NaN
6,B1007,James Brown,Tokyo Metropolitan,2025-01-28,2025-02-05,Deluxe,1,8,160,1280,Tokyo,Japan,Completed,4.2,NaN
7,B1008,Lisa Chen,Bali Beach Resort,2025-02-15,2025-02-22,Suite,3,7,190,1330,Bali,Indonesia,Confirmed,NaN,NaN
8,B1009,Marco Rossi,Rome Historic Hotel,2025-02-20,2025-02-25,Standard,2,5,100,500,Rome,Italy,Pending,NaN,NaN
9,B1010,Anna Kowalski,Warsaw Palace Hotel,2025-03-01,2025-03-08,Deluxe,2,7,140,980,Warsaw,Poland,Confirmed,NaN,NaN
10,B1011,David Thompson,Sydney Harbor View,2025-01-30,2025-02-06,Suite,2,7,210,1470,Sydney,Australia,Completed,4.7,NaN
11,B1012,Michelle Lee,Bangkok Thai Resort,2025-02-08,2025-02-15,Standard,1,7,95,665,Bangkok,Thailand,Completed,4.1,NaN
12,B1013,Roberto Silva,Rio Beach Hotel,2025-02-25,2025-03-05,Deluxe,3,8,170,1360,Rio de Janeiro,Brazil,Confirmed,NaN,2025-02-10
13,B1014,Yuki Tanaka,Venice Grand Canal,2025-03-10,2025-03-17,Suite,2,7,250,1750,Venice,Italy,Confirmed,NaN,NaN
14,B1015,Helena Schmidt,Berlin Modern Hotel,2025-02-12,2025-02-19,Standard,1,7,110,770,Berlin,Germany,Completed,3.9,NaN
15,B1016,Pierre Dubois,Monaco Luxury Resort,2025-03-05,2025-03-12,Suite,2,7,300,2100,Monaco,France,Confirmed,NaN,NaN
16,B1017,Priya Sharma,Mumbai Gateway Hotel,2025-01-22,2025-01-26,Standard,2,4,85,340,Mumbai,India,Completed,4.3,NaN
17,B1018,Michael O'Brien,Dublin Temple Hotel,2025-03-15,2025-03-22,Deluxe,1,7,155,1085,Dublin,Ireland,Confirmed,NaN,NaN
18,B1019,Lucia Moretti,Florence Renaissance,2025-02-28,2025-03-07,Standard,2,7,130,910,Florence,Italy,Pending,NaN,NaN
19,B1020,Antonio Gomez,Barcelona Beachfront,2025-03-20,2025-03-27,Suite,3,7,195,1365,Barcelona,Spain,Confirmed,NaN,NaN

In [27]:
# what is the avarage of people stays at night
hotels['NightAverage']=hotels['NightCount'].mean()
hotels

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,RoomType,NumGuests,NightCount,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate,NightAverage
0,B1001,John Smith,Grand Plaza Hotel,2025-01-20,2025-01-25,Deluxe,2,5,150,750,New York,USA,Completed,4.5,NaN,6.5
1,B1002,Maria Garcia,Ocean View Resort,2025-02-01,2025-02-08,Suite,3,7,200,1400,Miami,USA,Confirmed,NaN,NaN,6.5
2,B1003,Ahmed Hassan,Taj Hotel,2025-01-15,2025-01-18,Standard,1,3,80,240,Delhi,India,Completed,4.0,NaN,6.5
3,B1004,Emma Wilson,Eiffel Tower Inn,2025-02-10,2025-02-15,Deluxe,2,5,180,900,Paris,France,Confirmed,NaN,2025-01-25,6.5
4,B1005,Carlos Rodriguez,Cancun Paradise,2025-01-25,2025-02-02,Suite,4,8,220,1760,Cancun,Mexico,Completed,4.8,NaN,6.5
5,B1006,Sophie Martin,Swiss Alps Lodge,2025-02-05,2025-02-12,Standard,2,7,120,840,Zurich,Switzerland,Confirmed,NaN,NaN,6.5
6,B1007,James Brown,Tokyo Metropolitan,2025-01-28,2025-02-05,Deluxe,1,8,160,1280,Tokyo,Japan,Completed,4.2,NaN,6.5
7,B1008,Lisa Chen,Bali Beach Resort,2025-02-15,2025-02-22,Suite,3,7,190,1330,Bali,Indonesia,Confirmed,NaN,NaN,6.5
8,B1009,Marco Rossi,Rome Historic Hotel,2025-02-20,2025-02-25,Standard,2,5,100,500,Rome,Italy,Pending,NaN,NaN,6.5
9,B1010,Anna Kowalski,Warsaw Palace Hotel,2025-03-01,2025-03-08,Deluxe,2,7,140,980,Warsaw,Poland,Confirmed,NaN,NaN,6.5
10,B1011,David Thompson,Sydney Harbor View,2025-01-30,2025-02-06,Suite,2,7,210,1470,Sydney,Australia,Completed,4.7,NaN,6.5
11,B1012,Michelle Lee,Bangkok Thai Resort,2025-02-08,2025-02-15,Standard,1,7,95,665,Bangkok,Thailand,Completed,4.1,NaN,6.5
12,B1013,Roberto Silva,Rio Beach Hotel,2025-02-25,2025-03-05,Deluxe,3,8,170,1360,Rio de Janeiro,Brazil,Confirmed,NaN,2025-02-10,6.5
13,B1014,Yuki Tanaka,Venice Grand Canal,2025-03-10,2025-03-17,Suite,2,7,250,1750,Venice,Italy,Confirmed,NaN,NaN,6.5
14,B1015,Helena Schmidt,Berlin Modern Hotel,2025-02-12,2025-02-19,Standard,1,7,110,770,Berlin,Germany,Completed,3.9,NaN,6.5
15,B1016,Pierre Dubois,Monaco Luxury Resort,2025-03-05,2025-03-12,Suite,2,7,300,2100,Monaco,France,Confirmed,NaN,NaN,6.5
16,B1017,Priya Sharma,Mumbai Gateway Hotel,2025-01-22,2025-01-26,Standard,2,4,85,340,Mumbai,India,Completed,4.3,NaN,6.5
17,B1018,Michael O'Brien,Dublin Temple Hotel,2025-03-15,2025-03-22,Deluxe,1,7,155,1085,Dublin,Ireland,Confirmed,NaN,NaN,6.5
18,B1019,Lucia Moretti,Florence Renaissance,2025-02-28,2025-03-07,Standard,2,7,130,910,Florence,Italy,Pending,NaN,NaN,6.5
19,B1020,Antonio Gomez,Barcelona Beachfront,2025-03-20,2025-03-27,Suite,3,7,195,1365,Barcelona,Spain,Confirmed,NaN,NaN,6.5

In [30]:
hotels['CancellationDate'].value_counts().notnull()

CancellationDate
2025-01-25    True
2025-02-10    True
Name: count, dtype: bool

In [35]:
hotels
# avarage total cost for a stay in the hotel in the dataset total stay cost 
hotels['total_spend']=hotels['TotalPrice']/ hotels['NightCount'].mean()
hotels

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,RoomType,NumGuests,NightCount,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate,NightAverage,total_spend
0,B1001,John Smith,Grand Plaza Hotel,2025-01-20,2025-01-25,Deluxe,2,5,150,750,New York,USA,Completed,4.5,NaN,6.5,115.384615
1,B1002,Maria Garcia,Ocean View Resort,2025-02-01,2025-02-08,Suite,3,7,200,1400,Miami,USA,Confirmed,NaN,NaN,6.5,215.384615
2,B1003,Ahmed Hassan,Taj Hotel,2025-01-15,2025-01-18,Standard,1,3,80,240,Delhi,India,Completed,4.0,NaN,6.5,36.923077
3,B1004,Emma Wilson,Eiffel Tower Inn,2025-02-10,2025-02-15,Deluxe,2,5,180,900,Paris,France,Confirmed,NaN,2025-01-25,6.5,138.461538
4,B1005,Carlos Rodriguez,Cancun Paradise,2025-01-25,2025-02-02,Suite,4,8,220,1760,Cancun,Mexico,Completed,4.8,NaN,6.5,270.769231
5,B1006,Sophie Martin,Swiss Alps Lodge,2025-02-05,2025-02-12,Standard,2,7,120,840,Zurich,Switzerland,Confirmed,NaN,NaN,6.5,129.230769
6,B1007,James Brown,Tokyo Metropolitan,2025-01-28,2025-02-05,Deluxe,1,8,160,1280,Tokyo,Japan,Completed,4.2,NaN,6.5,196.923077
7,B1008,Lisa Chen,Bali Beach Resort,2025-02-15,2025-02-22,Suite,3,7,190,1330,Bali,Indonesia,Confirmed,NaN,NaN,6.5,204.615385
8,B1009,Marco Rossi,Rome Historic Hotel,2025-02-20,2025-02-25,Standard,2,5,100,500,Rome,Italy,Pending,NaN,NaN,6.5,76.923077
9,B1010,Anna Kowalski,Warsaw Palace Hotel,2025-03-01,2025-03-08,Deluxe,2,7,140,980,Warsaw,Poland,Confirmed,NaN,NaN,6.5,150.769231
10,B1011,David Thompson,Sydney Harbor View,2025-01-30,2025-02-06,Suite,2,7,210,1470,Sydney,Australia,Completed,4.7,NaN,6.5,226.153846
11,B1012,Michelle Lee,Bangkok Thai Resort,2025-02-08,2025-02-15,Standard,1,7,95,665,Bangkok,Thailand,Completed,4.1,NaN,6.5,102.307692
12,B1013,Roberto Silva,Rio Beach Hotel,2025-02-25,2025-03-05,Deluxe,3,8,170,1360,Rio de Janeiro,Brazil,Confirmed,NaN,2025-02-10,6.5,209.230769
13,B1014,Yuki Tanaka,Venice Grand Canal,2025-03-10,2025-03-17,Suite,2,7,250,1750,Venice,Italy,Confirmed,NaN,NaN,6.5,269.230769
14,B1015,Helena Schmidt,Berlin Modern Hotel,2025-02-12,2025-02-19,Standard,1,7,110,770,Berlin,Germany,Completed,3.9,NaN,6.5,118.461538
15,B1016,Pierre Dubois,Monaco Luxury Resort,2025-03-05,2025-03-12,Suite,2,7,300,2100,Monaco,France,Confirmed,NaN,NaN,6.5,323.076923
16,B1017,Priya Sharma,Mumbai Gateway Hotel,2025-01-22,2025-01-26,Standard,2,4,85,340,Mumbai,India,Completed,4.3,NaN,6.5,52.307692
17,B1018,Michael O'Brien,Dublin Temple Hotel,2025-03-15,2025-03-22,Deluxe,1,7,155,1085,Dublin,Ireland,Confirmed,NaN,NaN,6.5,166.923077
18,B1019,Lucia Moretti,Florence Renaissance,2025-02-28,2025-03-07,Standard,2,7,130,910,Florence,Italy,Pending,NaN,NaN,6.5,140.000000
19,B1020,Antonio Gomez,Barcelona Beachfront,2025-03-20,2025-03-27,Suite,3,7,195,1365,Barcelona,Spain,Confirmed,NaN,NaN,6.5,210.000000

In [42]:
# what are the number people stays in the delux room

hotels.groupby(['RoomType','CustomerName']).count()

                           BookingID  HotelName  CheckInDate  CheckOutDate  \
RoomType CustomerName
Deluxe   Anna Kowalski             1          1            1             1
         Emma Wilson               1          1            1             1
         James Brown               1          1            1             1
         John Smith                1          1            1             1
         Michael O'Brien           1          1            1             1
         Roberto Silva             1          1            1             1
Standard Ahmed Hassan              1          1            1             1
         Helena Schmidt            1          1            1             1
         Lucia Moretti             1          1            1             1
         Marco Rossi               1          1            1             1
         Michelle Lee              1          1            1             1
         Priya Sharma              1          1            1             1
         Sophie Martin             1          1            1             1
Suite    Antonio Gomez             1          1            1             1
         Carlos Rodriguez          1          1            1             1
         David Thompson            1          1            1             1
         Lisa Chen                 1          1            1             1
         Maria Garcia              1          1            1             1
         Pierre Dubois             1          1            1             1
         Yuki Tanaka               1          1            1             1

                           NumGuests  NightCount  PricePerNight  TotalPrice  \
RoomType CustomerName
Deluxe   Anna Kowalski             1           1              1           1
         Emma Wilson               1           1              1           1
         James Brown               1           1              1           1
         John Smith                1           1              1           1
         Michael O'Brien           1           1              1           1
         Roberto Silva             1           1              1           1
Standard Ahmed Hassan              1           1              1           1
         Helena Schmidt            1           1              1           1
         Lucia Moretti             1           1              1           1
         Marco Rossi               1           1              1           1
         Michelle Lee              1           1              1           1
         Priya Sharma              1           1              1           1
         Sophie Martin             1           1              1           1
Suite    Antonio Gomez             1           1              1           1
         Carlos Rodriguez          1           1              1           1
         David Thompson            1           1              1           1
         Lisa Chen                 1           1              1           1
         Maria Garcia              1           1              1           1
         Pierre Dubois             1           1              1           1
         Yuki Tanaka               1           1              1           1

                           City  Country  Status  Rating  CancellationDate  \
RoomType CustomerName
Deluxe   Anna Kowalski        1        1       1       0                 0
         Emma Wilson          1        1       1       0                 1
         James Brown          1        1       1       1                 0
         John Smith           1        1       1       1                 0
         Michael O'Brien      1        1       1       0                 0
         Roberto Silva        1        1       1       0                 1
Standard Ahmed Hassan         1        1       1       1                 0
         Helena Schmidt       1        1       1       1                 0
         Lucia Moretti        1        1       1       0                 0
         Marco Rossi          1        1       1       0                 0
         Michelle Lee         1        1       1       1                 0
         Priya Sharma         1        1       1       1                 0
         Sophie Martin        1        1       1       0                 0
Suite    Antonio Gomez        1        1       1       0                 0
         Carlos Rodriguez     1        1       1       1                 0
         David Thompson       1        1       1       1                 0
         Lisa Chen            1        1       1       0                 0
         Maria Garcia         1        1       1       0                 0
         Pierre Dubois        1        1       1       0                 0
         Yuki Tanaka          1        1       1       0                 0

                           NightAverage  total_spend
RoomType CustomerName
Deluxe   Anna Kowalski                1            1
         Emma Wilson                  1            1
         James Brown                  1            1
         John Smith                   1            1
         Michael O'Brien              1            1
         Roberto Silva                1            1
Standard Ahmed Hassan                 1            1
         Helena Schmidt               1            1
         Lucia Moretti                1            1
         Marco Rossi                  1            1
         Michelle Lee                 1            1
         Priya Sharma                 1            1
         Sophie Martin                1            1
Suite    Antonio Gomez                1            1
         Carlos Rodriguez             1            1
         David Thompson               1            1
         Lisa Chen                    1            1
         Maria Garcia                 1            1
         Pierre Dubois                1            1
         Yuki Tanaka                  1            1

In [46]:
hotels[-5:]

,BookingID,CustomerName,HotelName,CheckInDate,CheckOutDate,RoomType,NumGuests,NightCount,PricePerNight,TotalPrice,City,Country,Status,Rating,CancellationDate,NightAverage,total_spend
15,B1016,Pierre Dubois,Monaco Luxury Resort,2025-03-05,2025-03-12,Suite,2,7,300,2100,Monaco,France,Confirmed,NaN,NaN,6.5,323.076923
16,B1017,Priya Sharma,Mumbai Gateway Hotel,2025-01-22,2025-01-26,Standard,2,4,85,340,Mumbai,India,Completed,4.3,NaN,6.5,52.307692
17,B1018,Michael O'Brien,Dublin Temple Hotel,2025-03-15,2025-03-22,Deluxe,1,7,155,1085,Dublin,Ireland,Confirmed,NaN,NaN,6.5,166.923077
18,B1019,Lucia Moretti,Florence Renaissance,2025-02-28,2025-03-07,Standard,2,7,130,910,Florence,Italy,Pending,NaN,NaN,6.5,140.000000
19,B1020,Antonio Gomez,Barcelona Beachfront,2025-03-20,2025-03-27,Suite,3,7,195,1365,Barcelona,Spain,Confirmed,NaN,NaN,6.5,210.000000