In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('sales_funnel_crm.csv')
df

,LeadID,CustomerName,Stage,Amount,Date,Duration_Days,Source
0,1001,Acme Corp,Closed Won,50000,2025-01-15,45,Email
1,1002,TechStart Inc,Proposal,35000,2025-01-10,30,LinkedIn
2,1003,Global Solutions,Negotiation,75000,2024-12-20,55,Referral
3,1004,Digital First LLC,Qualified Lead,25000,2025-01-20,10,Cold Call
4,1005,Future Tech,Prospect,15000,2025-01-22,5,Website
5,1006,Innovation Labs,Closed Won,60000,2024-11-30,120,Email
6,1007,Smart Systems,Closed Lost,40000,2024-10-15,90,LinkedIn
7,1008,NextGen Solutions,Proposal,45000,2025-01-12,25,Referral
8,1009,Cloud Dynamics,Negotiation,55000,2025-01-05,50,Cold Call
9,1010,DataFlow Corp,Qualified Lead,30000,2025-01-18,15,Website
10,1011,Prime Analytics,Prospect,20000,2025-01-23,3,Email
11,1012,PowerScale Inc,Closed Won,70000,2024-12-10,80,LinkedIn
12,1013,Swift Commerce,Proposal,35000,2025-01-08,28,Referral
13,1014,Vertex AI,Negotiation,85000,2024-12-28,40,Cold Call
14,1015,Enterprise Hub,Closed Won,95000,2024-11-20,130,Email
15,1016,Agile Ventures,Qualified Lead,28000,2025-01-19,12,Website
16,1017,Quantum Tech,Prospect,18000,2025-01-24,2,LinkedIn
17,1018,Digital Wave,Closed Lost,55000,2024-09-30,120,Referral
18,1019,Nexus Solutions,Proposal,42000,2025-01-11,26,Cold Call
19,1020,Catalyst Group,Negotiation,62000,2025-01-01,35,Email

In [8]:
pd.pivot_table(df, values='Amount', columns='Stage', aggfunc='sum')

Stage,Closed Lost,Closed Won,Negotiation,Proposal,Prospect,Qualified Lead
Amount,95000,275000,277000,157000,53000,83000

In [12]:
df.groupby(['Source']).sum()

,LeadID,CustomerName,Stage,Amount,Date,Duration_Days
Source,,,,,,
Cold Call,4046,Digital First LLCCloud DynamicsVertex AINexus ...,Qualified LeadNegotiationNegotiationProposal,207000,2025-01-202025-01-052024-12-282025-01-11,126
Email,5053,Acme CorpInnovation LabsPrime AnalyticsEnterpr...,Closed WonClosed WonProspectClosed WonNegotiation,287000,2025-01-152024-11-302025-01-232024-11-202025-0...,333
LinkedIn,4038,TechStart IncSmart SystemsPowerScale IncQuantu...,ProposalClosed LostClosed WonProspect,163000,2025-01-102024-10-152024-12-102025-01-24,202
Referral,4042,Global SolutionsNextGen SolutionsSwift Commerc...,NegotiationProposalProposalClosed Lost,210000,2024-12-202025-01-122025-01-082024-09-30,228
Website,3031,Future TechDataFlow CorpAgile Ventures,ProspectQualified LeadQualified Lead,73000,2025-01-222025-01-182025-01-19,32

In [15]:
pd.pivot_table(df,index=['LeadID'],values=['CustomerName'],aggfunc='sum',columns=['Source'],fill_value='Not available')

             CustomerName                                                      \
Source          Cold Call            Email        LinkedIn           Referral
LeadID
1001        Not available        Acme Corp   Not available      Not available
1002        Not available    Not available   TechStart Inc      Not available
1003        Not available    Not available   Not available   Global Solutions
1004    Digital First LLC    Not available   Not available      Not available
1005        Not available    Not available   Not available      Not available
1006        Not available  Innovation Labs   Not available      Not available
1007        Not available    Not available   Smart Systems      Not available
1008        Not available    Not available   Not available  NextGen Solutions
1009       Cloud Dynamics    Not available   Not available      Not available
1010        Not available    Not available   Not available      Not available
1011        Not available  Prime Analytics   Not available      Not available
1012        Not available    Not available  PowerScale Inc      Not available
1013        Not available    Not available   Not available     Swift Commerce
1014            Vertex AI    Not available   Not available      Not available
1015        Not available   Enterprise Hub   Not available      Not available
1016        Not available    Not available   Not available      Not available
1017        Not available    Not available    Quantum Tech      Not available
1018        Not available    Not available   Not available       Digital Wave
1019      Nexus Solutions    Not available   Not available      Not available
1020        Not available   Catalyst Group   Not available      Not available


Source         Website
LeadID
1001     Not available
1002     Not available
1003     Not available
1004     Not available
1005       Future Tech
1006     Not available
1007     Not available
1008     Not available
1009     Not available
1010     DataFlow Corp
1011     Not available
1012     Not available
1013     Not available
1014     Not available
1015     Not available
1016    Agile Ventures
1017     Not available
1018     Not available
1019     Not available
1020     Not available