In [7]:
import numpy as np
import pandas as pd
# help(pd.Series)
myData=[1778,1788,1989,1887]
myIndex=["USA","TURK","IND","AFG"]
mySer=pd.Series(myData,myIndex)
mySer['AFG']
ages={"Same":5,"Frank":8,"Spike":6}
pd.Series(ages)

Same     5
Frank    8
Spike    6
dtype: int64

In [30]:
q1={"brazil":90,"africa":534,"USA":546,"CHINA":2454}

q2={"africa":259,"brazil":536,"china":545,"indi":2486}

sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

sales_q1
sales_q2

africa     259
brazil     536
china      545
indi      2486
dtype: int64

In [14]:
sales_q2["brazil"]
sales_q1.keys()

Index(['brazil', 'africa', 'USA', 'CHINA'], dtype='object')

In [53]:
# np.array([1,2] * 6)
# sales_q1 + sales_q2
sales_q2.add(sales_q1,fill_value=0)

# sales_q1.keys()
# np.array([1,4])+ 2
# sales_q1 / 5
# sales_q1 + sales_q2
# first_half=sales_q2.add(sales_q1,fill_value=0)

# sales_q1.dtype
# print(first_half)

CHINA     2454.0
USA        546.0
africa     793.0
brazil     626.0
china      545.0
indi      2486.0
dtype: float64