In [33]:

import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [34]:
temp_db=create_engine('sqlite:///test.db')

In [35]:
df=pd.DataFrame(data=np.random.randint(low=0,high=101,size=(4,4)))
df.columns=['a','b','c','d']
df

    a   b   c   d
0  29  53  48   9
1  89  96  44  88
2  92  83  92  78
3   7  59  22  65

In [42]:
# pd.read_sql(sql='new_table',con=temp_db)
df.to_sql(name='new_table',con=temp_db,index=False)

ValueError: Table 'new_table' already exists.

In [43]:
result=pd.read_sql_query('SELECT a,c FROM new_table',con=temp_db)
result

    a   c
0  29  48
1  89  44
2  92  92
3   7  22