In [1]:
import pandas as pd
import numpy as np

email= 'shahbaz@gmail.com'
email.split('@')

['shahbaz', 'gmail.com']

In [6]:
names=pd.Series(['Andrew','Bobo','claire','David','5'])
names.str.upper()
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [ ]:
names.str.split()

0    [Andrew]
1      [Bobo]
2    [claire]
3     [David]
4         [5]
dtype: object

In [ ]:
tech_finance=['GGOLE','APPLE','VISA','JPMC']

len(tech_finance)
tickers=pd.Series(tech_finance)
tickers.str.split(',').str[0]

0    GGOLE
1    APPLE
2     VISA
3     JPMC
dtype: object

In [21]:
s = pd.Series(["a", "b", "c", "d"], dtype="str")
s.str.cat(['A','B','C','D'])

0    aA
1    bB
2    cC
3    dD
dtype: object