In [6]:
import pandas as pd  
import numpy as np
from datetime import datetime

myyear=2026
mymonth=1
myweek=4
myhour=5
myDate=datetime(myyear,mymonth,myweek,myhour)
myDate.year
myDate.month
myDate.day

4

In [11]:
myser=pd.Series(['Nov 3 1990','2000-01-01',None])
# myser[0].str.year
myser

0    Nov 3 1990
1    2000-01-01
2          None
dtype: object

In [16]:
timeser=pd.to_datetime(myser, format='mixed')
timeser[0].year

1990